:root {
    --progress: 0deg;
    --color1: rgb(209, 205, 205);
    --color2: #6a736d;
}

/* Overall Page Style */
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: #f4f6f8;
    font-family: "Inter", sans-serif;
    color: #2d2d2d;
}


.hero-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: clamp(140px, 6vw, 40px);
    padding-top: 120px;
    height: 650px;
}

.app-container {
    position: relative;
    text-align: center;
    background: #ffffff;
    padding: 40px 50px;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    max-width: 420px;
    width: 90%;
}

.app-container h1 {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 2.3rem;
    letter-spacing: 1px;
}



/* =================================================TIMER DISPLAY=============================================== */
.timer-display {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    font-weight: bold;
    color: #2d2d2d;
    pointer-events: none;
    z-index: 2;
}


.half-circle-container {
    width: 300px;
    height: 150px;
    position: relative;
    overflow: hidden;
    margin: 25px auto;
}

.half-circle-2 {
    width: 240px;
    height: 225px;
    overflow: hidden;
    position: relative;
    background-color: #fff;
    border-radius: 120px 120px 0 0;
    margin: 25px auto;
}

.half-circle {
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: conic-gradient(var(--color2) var(--progress), var(--color1) 0deg);
    top: 0;
    left: 0;
    transform: rotate(-90deg);
}

.session-tracker {
    width: 300px;
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    gap: 10px;
}

.session-box {
    flex: 1;
    height: 22px;
    background: var(--color1);
    border-radius: 6px;
    transition: background 0.3s ease;
}

.session-box.filled {
    background: var(--color2);
}

.session-label {
    margin-top: 20px;
    font-size: 25px;
    opacity: 0.8;
}


/* =================================================BUTTONS======================================================= */
.controls {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 27px;
}

.btnback {
    width: 300px;
    background-color: var(--color1);
    opacity: 80%;
    border-radius: 8px;
}

.controls button {
    padding: 10px 24px 6px 24px;
    font-size: 1.3rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: transparent;
    transition: 0.2s ease;
}

.controls button:hover {
    transform: scale(1.15);
}


.hidden {
    display: none;
}










/* ================================================= MODAL ======================================================= */
.settings-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 8px 14px;
    background: #ffffff22;
    border: 1px solid #ffffff55;
    backdrop-filter: blur(5px);
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.2s;
    z-index: 500;
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    backdrop-filter: blur(8px);
    background: rgba(246, 245, 245, 0.35);

    z-index: 999;
}

.modal.hidden {
    display: none;
}

.modal-content {
    background: white;
    padding: 25px 30px;
    border-radius: 12px;
    width: 320px;

    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
    border: 1px solid #ffffff22;

    animation: fadeIn 0.45s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: var(--color2);
}

.input-group input {
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    outline: none;
    background: var(--color1);
    color: black;
}

.input-group select {
    width: 105%;
    padding: 7px;
    border-radius: 6px;
    border: none;
    font-size: 15px;
    outline: none;
    background: var(--color1);
    color: black;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

.close-btn,
.save-btn {
    padding: 8px 12px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    transition: 0.2s;
}

.close-btn,
.save-btn {
    background: #444;
    color: white;
}

.close-btn:hover,
.save-btn:hover {
    background: #555;
}



/* ================================================= FOG ======================================================== */

.fog {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(30px);

    z-index: 900;
    pointer-events: none;

    opacity: 1;
    transition: opacity 0.4s ease;
}

.fog.hidden {
    opacity: 0;
    backdrop-filter: blur(0px);
}


/* ================================================= CONTROL BAR ======================================================= */

.scroll-control-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    background: #ffffffee;
    backdrop-filter: blur(8px);
    box-shadow: 0 -4px 15px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 1000;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.scroll-control-bar.hidden {
    transform: translateY(100%);
    opacity: 0;
}

.scroll-control-bar .controls-left {
    display: flex;
    gap: 12px;
}

.scroll-control-bar .controls-right {
    font-size: 2.5rem;
    font-weight: bold;
    color: #2d2d2d;
    max-width: 50%;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 15px;
}

.scroll-control-bar button {
    padding: 5px 10px 3px 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background: var(--color1);
    font-size: 1rem;
    transition: background 0.2s ease, transform 0.2s ease;
}

.scroll-control-bar button:hover {
    background: #797c79;
    transform: scale(1.05);
}




/* ================================================= INFO ======================================================= */


.info-section {
    max-width: 700px;
    margin: 0 auto;
    padding: 80px 30px;
    text-align: center;
}

.segment {
    margin-bottom: 60px;
}

h3 {
    font-size: 1.6rem;
}

p {
    font-size: 1.1rem;
}




/* ========================================== TASK CONTAINER ======================================================= */




.task-container {
    width: 300px;
    padding: 20px;
}


.task-input-group {
    display: flex;
    gap: 8px;
    margin-bottom: 28px;
}

.task-input-group input {
    flex: 1;
    padding: 10px 12px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    font-size: 16px;
    outline: none;
}


.task-input-group button {
    padding: 10px 18px;
    border-radius: 10px;
    border: none;
    background: #333;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
}

.task-input-group button:hover {
    opacity: 0.9;
}

.task-list {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 380px;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}


.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 8px;
}